extends _head
include _mixin.pug
block head
  include blocks/header/header.pug
  h1.block.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimum
  ul Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    li Lorem ipsum  sit amet, consectetur adipisicing elit, sed do eiusmod
  +svg("icon-1")
  include blocks/footer/footer.pug
  include _js